
.body{
  font-family: "Karla", sans-serif;
  margin: 0;
}


.navBar{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
  display: flex;
  height: 65px;;
  align-items: center;
  color: white;
  /* padding: 0 30px 0px 10px ; */
  padding: 20px;
}

.navBar--logo{
  height: 100%;
  margin-right: 7px;
}

.navBar--title{
  margin-right: auto;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: -0.1em;
}

@media screen and (max-width: 400px){
.navBar--description{
    display: none;
  }
}

.navBar--description{
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 500;
}

.ImageForm{
  display: grid;


  grid-template: 40px 40px / 1fr 1fr;
  /* padding: 0 17px; */
  width: 50%;
  margin: 2.25rem;
  gap:10px;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  
}

.ImageForm--TextInput{
  border-radius: 5px;
  border: 1px solid #D5D4D8;

}

.ImageForm--button{
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.formContent{
  display: flex;
  justify-content: center;
}